[alias] 
  # Shortcuts
  cp = cherry-pick
  st = status
  co = checkout
  br = branch 

  # Commit and specify message
  ci = commit -m

  # Add untracked, remove deleted, and show status
  adda = !git add -A && git status

  # Diff what is staged for the next commit
  dc = diff --cached

  # See last commit
  lo = log --numstat -1

  # See semi-condensed log 
  ll = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short --numstat

  # See condensed log (1 line per commit)
  ls = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short

[core]
  excludesfile = /Users/`whoami`/.gitignore

[credential]
  helper = osxkeychain

[fetch]
  prune = true

# Include separate file for personal data: username, email, etc.
[include]
  path = ~/.gitconfig.local

[pager]
  log = false

[push]
	default = current
